.trait_dessus_presta {
  border-top: 1px solid black;
  width : 80%;
  margin: 0 auto;
  margin-bottom: 15px;
  margin-top: 15px;
}

.prestations-container-global {
  width: 80%;
  margin: 0 auto;
}

.prestations-titre {
  p {
    text-align: center;
    color: black;
    font-size: 23px;
    padding: 22px;
  }
}

.prestation {
  display: flex;
  justify-content: space-between;
}

.conservation_img_content_global {
  padding: 12px;
}
.conservation {
  background-color: rgba(120, 120, 120, 0.1);
  padding: 14px;
  border-radius: 5px;
  // border: 1px solid black;
}
.conservation-img {
  position: relative;
  width: 70%;
  img {
    width: 440px;
    // width: 100%;
    height: 400px;
    object-fit: cover;
  }
}
.conservation-img-content {
  text-align: center;
  h3 {
    text-decoration: underline;
  }
}
.conservation-content {
  display: grid;
  padding: 10px;
  h3 {
    text-align: center;
    font-size: 20px;
  }
  ul {
    margin-left: 35px;
  }
}

.esthetique {
  background-color: rgba(120, 120, 120, 0.1);
  padding: 14px;
  border-radius: 5px;
  // border: 16px solid darkolivegreen;
}
.esthetique_global {
  padding: 12px;
}
.esthetique-img {
  position: relative;
  width: 70%;
  img {
    width: 440px;
    height: 400px;
    object-fit: cover;
  }
}
.esthetique-img-content {
  text-align: center;
  h3 {
    text-decoration: underline;
  }
}
.esthetique-content {
  display: grid;
  padding: 10px;
  h3 {
    text-align: center;
    font-size: 20px;
  }
}

.preventive {
  background-color: rgba(120, 120, 120, 0.1);
  padding: 14px;
  border-radius: 5px;
  // border: 16px solid darkolivegreen;
}
.preventive-img {
  position: relative;
  width: 70%;
  img {
    width: 440px;
    height: 400px;
    object-fit: cover;
  }
}
.preventive-img-content {
  text-align: center;
  display: table-caption;
  margin-top: 48px;
  h3 {
    text-decoration: underline;
  }
}
.preventive-content {
  padding: 10px;
  display: table-cell;
  vertical-align: middle;
}
.preventive_global {
  padding: 12px;
  display: table;
}
