<div class="home-container-global">
  <div class="home-banner">
    <div class="home-banner-content">
      <h1 id="home-title"> <i>Atelier "La Ronde de Nuit"</i> </h1>
      <h2 id="home-description">Restauration et Conservation de peintures anciennes</h2>
      <p id="home-item">
        <ul class="home-accueil">
          <%= link_to "L'Atelier", atelier_path %>
          <%= link_to "Prestations", prestations_path %>
          <%= link_to "Galerie", galerie_path %>
          <%= link_to "Contact", contact_path %>
        </ul>
      </p>
    </div>
  </div>

  <div class="home-footer">
    Me contacter: <br>
    Catherine Bollack <br>
    Mail: catherine.nb@wanadoo.fr <br>
    Tel: +33 6 63 00 74 35 <br>
    <br>
    Réalisation de devis gratuit - sur rendez-vous
  </div>
</div>
