
<%= render "shared/navbar" %>

<div class="container-restauratrice">
  <div class="restauratrice-texte">
    <p>
      Formée à l’Atelier du Temps Passé aux meilleures techniques de restauration, membre de la SFIIC (Section Française de l’International Institute of Conservation) et après de nombreuses expériences en France et à l’international, <strong>Catherine Bollack</strong> a installé son atelier de restauration à Vaucresson pour favoriser une clientèle de proximité.<br><br>
      "Une restauration de tableau n’est pas une simple réparation, mais la volonté de sauver notre patrimoine en prodiguant soins et conseils en vue d’une excellente conservation des œuvres à l’avenir. Nous en sommes les garants."<br><br>
      <i><strong>La devise de l’atelier</strong></i> : Trouver pour chaque tableaux le juste équilibre entre l’éclat, la lisibilité et le respect de la patine du temps.<br><br>
    </p>
  </div>
  <div class="card-restauratrice">
    <%= image_tag "PHOTOS ATELIER/IMG_1291.JPG" %>
    <%= image_tag "PHOTOS ATELIER/IMG_1284.JPG" %>
    <%= image_tag "PHOTOS ATELIER/IMG_1294.JPG" %>
  </div>
</div>
