<%= render "shared/navbar" %>

<div class="prestations-container-global">

  <div class="prestations-titre">
    <p>L'Atelier "La Ronde de Nuit" effectue l'ensemble des prestations de la restauration-conservation</p>
  </div>

  <div class="prestations">

  <div class="prestation conservation">
    <div class="conservation-img">
      <%= image_tag "presta", alt: "alttext" %>
    </div>
    <div class="conservation_img_content_global">
      <div class="conservation-img-content">
        <h3>Restauration Conservative</h3>
        <p>La restauration conservative définit l'ensemble des techniques visant à consolider, remettre en état le support et/ou la couche picturale.</p>
      </div>
      <div class="conservation-content">
        <h3>Support toile et bois</h3>
        <ul>
          <li>Traitement du châssis, désinfection</li>
          <li>Traitement de la toile
            <ul>
              <li>Remise en planéité, reprise des déformations​</li>
              <li>Dé-restauration, retrait de pièces anciennes</li>
              <li>Reprise des déchirures, incrustation, fil à fil</li>
              <li>Pose de pièce de renfort</li>
              <li>Refixage de la couche picturale (craquelures, écailles, pertes de matière, pulvérulence)</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="trait_dessus_presta"></div>

  <div class="prestation esthetique">
    <div class="esthetique_global">
      <div class="esthetique-img-content">
        <h3>Restauration Esthétique</h3>
        <p>La restauration esthétique définit l’ensemble des traitements de la couche picturale visant à restituer la lisibilité de l’œuvre tout en respectant la patine du temps.</p>
      </div>
      <div class="esthetique-content">
        <h3>Couche picturale</h3>
        <ul>
          <li>Décrassage, nettoyage</li>
          <li>Allègement de vernis par voie chimique ou mécanique</li>
          <li>Retrait des repeints, des anciens mastics débordants</li>
          <li>Pose de mastic, de fond et de forme (imiter la texture originale)</li>
          <li>Réintégration colorée des lacunes et usures</li>
          <li>Pose de vernis de protection</li>
        </ul>
      </div>
    </div>
    <div class="esthetique-img">
      <%= image_tag "presta_1", alt: "alttext" %>
    </div>
  </div>

  <div class="trait_dessus_presta"></div>

  <div class="prestation preventive">
    <div class="preventive-img">
      <%= image_tag "presta_2", alt: "alttext" %>
    </div>
    <div class="preventive_global">
      <div class="preventive-img-content">
        <h3>Restauration Préventive</h3>
        <p>La restauration préventive permet d’anticiper et/ou de réduire les dommages pouvant être causés par des facteurs externes (humidité, chaleur, choc, mauvais stockage)</p>
      </div>
      <div class="preventive-content">
        <ul>
          <li>Protection des tranches de l’œuvre au moyen d’un bordage</li>
          <li>Agencement d’un système d’accrochage adapté</li>
          <li>Conseils en terme de conservation préventive pour un accrochage optimal de l’œuvre</li>
          <li>Conseils préventifs de climatologie</li>
        </ul>
      </div>
    </div>
  </div>

  </div>

</div>
