.navbar-global {
  text-align: center;
  margin: 0 auto;
  padding: 10px;
}

#navbar-description {
  color: black;
}

#navbar-title {
  color: black;
  margin: 0;
}

.trait_dessus
{
border-top: 1px solid black;
width : 80%;
margin: 0 auto;
}
